spring:
  application:
    name: @project.artifactId@
  banner:
    location: banner.txt
  codec:
    max-in-memory-size: 52428800 # bytes

server:
  shutdown: "graceful"
  port: 8080
  error:
    include-exception: false
    include-stacktrace: never
    whitelabel:
      enabled: false

# Config for spring actuator endpoints
management:
  server.port: ${server.port}
  endpoints:
    access:
      default: none
    web:
      exposure:
        include: health, info, prometheus, livenessstate, readinessstate
      path-mapping:
        prometheus: metrics
  endpoint:
    health.access: read_only
    info.access: read_only
    prometheus.access: read_only
  info:
    env:
      enabled: true

info.application.name: @project.artifactId@
info.application.version: @project.version@
info.application.commitHash: ${buildNumber}

de.muenchen.dave.document-storage:
  lageplaene:
    base-path: DAVe/Messstellen/Lageplaene/
    expiration-in-minutes: 30
